@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');

@keyframes phonenumber {
  0% {
    filter: saturation(100%) brightness(100%);
    color: rgb(255, 0, 0);
  }
  50% {
    filter: saturation(150%) brightness(150%);
    color: rgb(0, 255, 0);
  }
  100% {
    filter: saturation(200%) brightness(200%);
    color: rgb(0, 0, 255); 
  }
}

#phonenumber {
  font-size: 7vw;
  animation: phonenumber 2s linear 0s infinite both;
}

#phonenumber h1 {
  font-size: 5vw;
}

#phonenumber ul {
  font-size: 3vw;
  list-style-type: none;
}

@keyframes body {
  0% {
    filter: saturation(100%) brightness(100%);
    background-color: rgb(0, 0, 255);
  }
  50% {
    filter: saturation(150%) brightness(150%);
    background-color: rgb(255, 255, 0);
  }
  100% {
    filter: saturation(200%) brightness(200%);
    background-color: rgb(255, 0, 0); 
  }
}

body {
  background-color: rgb(0, 0, 0);
  animation: body 2s linear 0s infinite both;
  font-family: 'rubik glitch pop';
}
